body {
    font: 20px arial, sans-serif}

.navbar{ 
    background-color: #368A38;} 

.quemsomos {background-color: #69C96B;}

.margin { padding-top: 15px;
padding-bottom: 50px;}

.parceiros{ 
    background-color: #46A248;}

    .bg-footer{ 
        background-color: black;
    }